/*
 * Helvetica Neue
 */
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-ultra-light.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-ultra-light.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light.svg#helvetica-neue-ultra-light") format("svg");
  font-weight: 100;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-ultra-light-italic.svg#helvetica-neue-ultra-light-italic") format("svg");
  font-weight: 100;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-thin.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-thin.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-thin.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-thin.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-thin.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-thin.svg#helvetica-neue-thin") format("svg");
  font-weight: 200;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-thin-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-thin-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-thin-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-thin-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-thin-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-thin-italic.svg#helvetica-neue-thin-italic") format("svg");
  font-weight: 200;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-light.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-light.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-light.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-light.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-light.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-light.svg#helvetica-neue-light") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-light-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-light-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-light-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-light-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-light-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-light-italic.svg#helvetica-neue-light-italic") format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue.svg#helvetica-neue") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-italic.svg#helvetica-neue-italic") format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-medium.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-medium.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-medium.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-medium.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-medium.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-medium.svg#helvetica-neue-medium") format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-medium-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-medium-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-medium-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-medium-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-medium-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-medium-italic.svg#helvetica-neue-medium-italic") format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-bold.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-bold.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-bold.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-bold.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-bold.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-bold.svg#helvetica-neue-bold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-bold-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-bold-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-bold-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-bold-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-bold-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-bold-italic.svg#helvetica-neue-bold-italic") format("svg");
  font-weight: 700;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-heavy.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-heavy.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-heavy.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-heavy.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-heavy.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-heavy.svg#helvetica-neue-heavy") format("svg");
  font-weight: 800;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-heavy-italic.svg#helvetica-neue-heavy-italic") format("svg");
  font-weight: 800;
  font-style: italic;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-black.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-black.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-black.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-black.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-black.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-black.svg#helvetica-neue-black") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face{
  font-family: 'Helvetica Neue';
  src:url("../fonts/helvetica-neue/helvetica-neue-black-italic.eot?#iefix");
  src:url("../fonts/helvetica-neue/helvetica-neue-black-italic.eot?#iefix") format("eot"),url("../fonts/helvetica-neue/helvetica-neue-black-italic.woff2") format("woff2"),url("../fonts/helvetica-neue/helvetica-neue-black-italic.woff") format("woff"),url("../fonts/helvetica-neue/helvetica-neue-black-italic.ttf") format("truetype"),url("../fonts/helvetica-neue/helvetica-neue-black-italic.svg#helvetica-neue-black-italic") format("svg");
  font-weight: 900;
  font-style: italic;
}


/*
 * Gotham Font
 */
@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-book-webfont.eot');
  src: url('../fonts/gotham/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-book-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-book-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-book-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-book-webfont.svg#gotham-book-webfont') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-book-italic-webfont.eot');
  src: url('../fonts/gotham/gotham-book-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-book-italic-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-book-italic-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-book-italic-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-book-italic-webfont.svg#gotham-book-italic-webfont') format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-medium-webfont.eot');
  src: url('../fonts/gotham/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-medium-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-medium-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-medium-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-medium-webfont.svg#gotham-medium-webfont') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-medium-italic-webfont.eot');
  src: url('../fonts/gotham/gotham-medium-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-medium-italic-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-medium-italic-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-medium-italic-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-medium-italic-webfont.svg#gotham-medium-italic-webfont') format('svg');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-bold-webfont.eot');
  src: url('../fonts/gotham/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-bold-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-bold-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-bold-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-bold-webfont.svg#gotham-bold-webfont') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-bold-italic-webfont.eot');
  src: url('../fonts/gotham/gotham-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-bold-italic-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-bold-italic-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-bold-italic-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-bold-italic-webfont.svg#gotham-bold-italic-webfont') format('svg');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-light-webfont.eot');
  src: url('../fonts/gotham/gotham-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-light-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-light-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-light-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-light-webfont.svg#gotham-light-webfont') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-light-italic-webfont.eot');
  src: url('../fonts/gotham/gotham-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-light-italic-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-light-italic-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-light-italic-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-light-italic-webfont.svg#gotham-light-italic-webfont') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-thin-webfont.eot');
  src: url('../fonts/gotham/gotham-thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-thin-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-thin-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-thin-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-thin-webfont.svg#gotham-thin-webfont') format('svg');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url('../fonts/gotham/gotham-thin-italic-webfont.eot');
  src: url('../fonts/gotham/gotham-thin-italic-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/gotham/gotham-thin-italic-webfont.otf') format('opentype'),
  url('../fonts/gotham/gotham-thin-italic-webfont.woff') format('woff'),
  url('../fonts/gotham/gotham-thin-italic-webfont.ttf') format('truetype'),
  url('../fonts/gotham/gotham-thin-italic-webfont.svg#gotham-thin-italic-webfont') format('svg');
  font-weight: 100;
  font-style: italic;
}