// Fonts

@import 'fonts';
$font-family-gotham:        Gotham, Arial, sans-serif;
$font-family-cursive:       'Nothing You Could Do', cursive;


// Bootstrap Overrides

$headings-font-family:      $font-family-gotham;
$headings-font-weight:      600;

$brand-red:                 #ed3d32;
$brand-blue:                #2db1f0;
$brand-green:               #499a3e;
$brand-gray:                #e7e7e7;
$brand-gray-light:          #f0f0f0;
$brand-gray-dark:           #666666;

$brand-primary:             $brand-red;

$btn-primary-bg:            $brand-blue;
$btn-primary-border:        $brand-blue;

$navbar-default-link-color:                #000000;
$navbar-default-link-hover-color:          $brand-red;
$navbar-default-link-active-color:         $brand-red;
$navbar-default-link-active-bg:            transparent;

$border-radius-base:        2px;
$border-radius-large:       4px;
$border-radius-small:       0px;

$padding-base-vertical:     12px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    15px;
$padding-large-horizontal:  30px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$input-border-focus:        $brand-red;

@import "bootstrap";


// Custom styles

// extra large breakpoint
.container {
  @media (min-width: 1400px) {
    width: 1370px;
  }
}

::selection {
  background: $brand-blue;
  text-shadow: none;
}

body {
  padding-top: 130px;
}

a, button {
  transition: all 0.4s;
  &:hover {
    text-decoration: none;
  }
}

.btn {
  text-transform: uppercase;
  font-family: $font-family-gotham;
  font-weight: 500;

  &.btn-red {
    @include button-variant(#ffffff, $brand-red, $brand-red);
  }
  &.btn-orange {
    @include button-variant(#ffffff, #ffae00, #ffae00);
  }
}

.btn-wrap {
  text-align: right;
  background: $brand-gray;
  padding: 40px;
  margin: 20px -15px 0;
}


h1 {
  text-transform: uppercase;
  font-size: 30px;
}
h2 {
  text-transform: uppercase;
  font-size: 24px;
  margin: 0 0 20px 0;
}
h3 {
  text-transform: uppercase;
  font-size: 18px;
}
h4 {
  font-size: 18px;
  font-weight: 600;
}

h3, h4, h5, h6,
.h3, .h4, .h5, .h5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  margin: 0 0 20px;
}

.container-inset {
    padding-left: 60px;
    padding-right: 60px;
}

.strip {
  padding: 60px 0 40px;

}

.white {
  background: #ffffff;
  color: #333333;
}
.blue {
  background: $brand-blue;
  color: #ffffff;
}
.green {
  background: $brand-green;
  color: #ffffff;
}
.red {
  background: $brand-red;
  color: #ffffff;
}
.red-trans {
  background: rgba($brand-red, 0.9);
  color: #ffffff;
}
.gray {
  background: $brand-gray;
}
.gray-light {
  background: $brand-gray-light;
}
.gray-dark {
  background: $brand-gray-dark;
  color: #c3c3c3;
}

.color-red {
  color: $brand-red;
}

blockquote {
  padding: 0;
  margin: 0 0 20px;
  border-left: none;
  font-size: 16px;
  &:before {
    color: $brand-red;
    content:"\201C";
  }
  &:after {
    color: $brand-red;
    content:"\201D";
  }
}

select {
  cursor: pointer;
}

.nav-pills {
  text-transform: uppercase;
  font-weight: bold;

  >li {
    margin: 0;

    a {
      color: #333333;
      border-bottom: 1px solid #cccccc;
      border-radius: 0;
    }
  }

  >li.active>a,
  >li.active>a:hover,
  >li.active>a:focus {
    color: #ffffff;
  }
}
.nav-stacked>li+li {
  margin: 0;
}
.nav-stacked {
  margin-bottom: 20px;
}

#header {
  @include clearfix;

  #main-nav {
    background: #ffffff;
    padding: 30px 0;
    border: none;
    border-bottom: 1px solid #cccccc;
    font-family: $font-family-gotham;
    font-size: 13px;

    .navbar-brand {
      @include text-hide();
      background: url('/assets/images/full-logo.png') no-repeat left center;
      background-size: 350px 70px;
      width: 350px;
      height: 70px;
      padding: 0;
      transition: all 0.5s;
    }

    #navbar {

      .navbar-right {
        margin-right: 0;
      }

      .navbar-nav > li > a {
        padding: 0;
        margin-left: 15px;
        text-transform: uppercase;
        font-weight: 500;

        @media (max-width: 767px) {
          padding: 8px 0;
          border-top: 1px solid #dddddd;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
          margin-left: 12px;
          font-size: 12px;
        }
      }

      #contact-options {
        color: #999999;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        padding-bottom: 15px;
        overflow: hidden;
        transition: all 0.5s;

        #chat-live {
          border-left: 1px solid #999999;
          margin-left: 5px;
          padding-left: 5px;
        }

        span {
          color: $brand-red;
        }
        a {
          color: #000000;
        }
      }

    }

    .navbar-toggle {
      margin-top: 18px;
      margin-bottom: 18px;
      margin-right: 0;
      margin-left: 15px;
      transition: all 0.5s;
    }
    .navbar-collapse {
      border-top: none;
    }

  }

  &.shrunk {
    #main-nav {

      padding: 10px 0;

      .navbar-brand {
        width: 30px;
        height: 42px;
        background-size: 210px 42px;
      }

      #navbar {
        padding-top: 11px;
        padding-bottom: 11px;

        #contact-options {
          height: 0;
          padding: 0;
        }
      }

      .navbar-toggle {
        margin-top: 4px;
        margin-bottom: 4px;
      }

    }
  }

  @media (max-width: 767px) {
    #main-nav {

      padding: 10px 0;

      .navbar-brand {
        width: 160px;
        height: 32px;
        background-size: 160px 32px;
        margin: 5px 0;
      }

      #navbar {
        padding-top: 11px;
        padding-bottom: 11px;

        #contact-options {
          height: 0;
          padding: 0;
        }
      }

      .navbar-toggle {
        margin-top: 4px;
        margin-bottom: 4px;
      }

    }
    &.shrunk {
      #main-nav .navbar-brand {
        width: 160px;
        height: 32px;
        background-size: 160px 32px;
      }
    }
  }

}

#s2id_quick-search {
  margin-left: 15px;
  .select2-choice {
    height: 20px;
    line-height: 20px;
  }
  .select2-choice .select2-arrow b {
    background-position: 0 -4px;
  }
}

#banner-wrap {
  padding: 0;
  background: no-repeat center center;
  background-size: cover;

  #banner {
    position: relative;
    color: #ffffff;

    .hero {
      margin: 120px 45px;
      text-align: center;

      h1 {
        font-size: 60px;
        text-transform: uppercase;
        letter-spacing: -1px;
      }

      h4 {
        margin-top: 0;
        line-height: 1.4;
      }

      h1, h4 {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.08);
      }

      .btn {
        margin: 10px 0;
      }
    }

    #feefo-logo {
      position: absolute;
      top: 40px;
      right: 15px;
    }

    @media (max-width: 767px) {
      .hero {
        margin: 60px 0;
        h1 {
          font-size: 40px;
        }
        h4 {
          font-size: 12px;
          font-weight: normal;
        }
      }
      #feefo-logo {
        display: block;
        position: static;
        margin: 0 auto 20px;
      }
    }

  }

  #banner-search {
    text-align: center;

    h5 {
      text-transform: uppercase;
      margin: 0 0 20px 0;
    }

    .box {
      background: rgba(0, 0, 0, 0.2);
      width: 18%;
      margin: 0 1%;
      float: left;
      padding: 10px;
      font-family: $font-family-gotham;
      font-weight: 500;
      font-size: 12px;
      border: none;

      option {
        background: #ffffff;
        color: #333333;
      }

      &:focus {
        outline: none;
      }
    }

    button.box {
      background: #ffffff;
      color: $brand-red;
      text-transform: uppercase;

      &:hover {
        background: $brand-red;
        color: #ffffff;
      }
    }
  }

}


#search-bar {
  @include clearfix;
  padding: 15px;
  margin: 0 -15px;
  color: #ffffff;

  .box {
    background: #c22621;
    width: 18%;
    margin: 0 1%;
    float: left;
    padding: 10px;
    font-family: $font-family-gotham;
    font-weight: 500;
    font-size: 12px;
    border: none;

    &:focus {
      outline: none;
    }

    @media (max-width: 767px) {
      float: none;
      width: 100%;
      margin-bottom: 10px;
    }
  }

  button.box {
    background: #ffffff;
    color: $brand-red;
    text-transform: uppercase;

    &:hover {
      background: #c22621;
      color: #ffffff;
    }
  }

  #arrival-calendar {
    cursor: pointer;
  }

  option {
    background: #ffffff;
    color: #333333;
  }

  #sort-by {
    margin-top: 20px;
    margin-left: 1%;
    font-size: 16px;
    font-family: $font-family-gotham;

    label {
      margin: 0;
      font-weight: normal;
    }
    select {
      background: $brand-red;
      border: none;
      font-weight: bold;
      &:focus {
        outline: none;
      }
    }
  }

  #toggle-more-options {
    margin-top: 20px;
    margin-right: 1%;
    float: right;
    color: #ffffff;
    font-size: 16px;
    font-family: $font-family-gotham;
    text-transform: uppercase;
  }

  &.simple {
    padding: 30px 15px;
    h3 {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }
}

#more-options {
  display: none;
  background: #ffffff;
  color: #333333;

  h4 {
    margin: 0 0 20px;
    padding: 20px 0 0;
  }

  label {
    display: block;
    border-top: 1px solid $brand-gray;
    padding: 5px 10px;
    margin: 0;
    font-weight: normal;
    cursor: pointer;

    input[type="checkbox"] {
      display: none;
    }
    span {
      float: right;
      height: 20px;
      width: 20px;
      border: 2px solid $brand-gray;
      display: inline-block;
    }

    &:hover {
      background: #f3f3f3;
    }
    &.checked {
      background: #cbecd9;
      font-weight: bold;

      span {
        border-color: #006666;
        background-color: #006666;
        background-image: url('/assets/images/icons/tick-white.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 20px 20px;
      }
    }

  }
}

.inset {

  padding: 10px 20px;

  .quote h3 {
    margin: 10px 0;
  }

}

h3.we-say-who {
  text-transform: none;
  color: $brand-red;
  font-family: $font-family-cursive;
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0;
}

.quote-box {
  text-align: center;

  h3 {
    text-transform: none;
    color: $brand-red;
    font-family: $font-family-cursive;
    font-size: 24px;
    margin: 20px 0;
  }
}

.quote {
  h3 {
    text-transform: none;
    color: $brand-red;
    font-family: $font-family-cursive;
    text-align: left;
    margin: 20px 0;
    line-height: 40px;
    font-size: 22px;
    padding-left: 50px;
    background-image: url('/assets/images/icons/quote.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: left center;
  }
}

.enlarge {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.property-box {
  background: #ffffff;
  margin: 20px 0;
  display: block;
  color: inherit;
  transition: all .4s ease-in-out;

  &:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    color: inherit;
    h3, h4 {
      color: $brand-red;
    }
  }

  .property-image {
    position: relative;

    img {
      width: 100%;
    }

    .property-images-number {
      background-color: rgba(0, 0, 0, 0.7);
      background-image: url('/assets/images/icons/camera.png');
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: 10px 5px;
      position: absolute;
      top: 0;
      left: 0;
      color: $brand-red;
      font-weight: 800;
      padding: 10px 10px 10px 45px;
    }
  }

  .property-box-info {
    padding: 20px;

    > .row {
      line-height: 1;
      margin-top: 20px;
    }

    h3 {
      text-align: left;
      text-transform: none;
      margin: 0 0 10px;
    }

    h4 {
      font-weight: 400;
      margin: 0;
    }

    .property-ref,
    .property-distance,
    .property-price,
    .property-taxes {
      line-height: 1;
      font-size: 11px;
    }
    .property-ref {
      text-transform: uppercase;
    }
    .property-distance {
      font-weight: 700;
      text-transform: uppercase;
    }
    .property-price {
      font-weight: 800;
      color: $brand-red;
      font-size: 22px;
    }
    .property-taxes {
      font-weight: 500;
      color: #999999;
    }
  }

  .property-box-features {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;

    li {
      background: #f7f7f7;
      margin-top: 1px;
      padding: 10px 20px;
      text-transform: uppercase;
      font-size: 11px;

      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: 20px center;

      &.pool {
        background-image: url('/assets/images/icons/pool.png');
      }
      &.bedrooms {
        background-image: url('/assets/images/icons/bedrooms.png');
      }
      &.villas {
        background-image: url('/assets/images/icons/villas.png');
      }
    }
  }

}

.holiday-box {
  background: #ffffff;
  margin: 20px 0;
  transition: all .4s ease-in-out;

  &:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    color: inherit;
    h3, h4 {
      color: $brand-red;
    }
  }

  .property-info {
    @include clearfix;
    padding: 20px;

    h3 {
      text-align: left;
      margin: 0 0 10px;
    }

    .property-count {
      font-weight: bold;
      color: $brand-red;
    }
  }

}

.holiday-type {

  @include clearfix;
  display: block;
  border-top: 1px solid #cccccc;
  padding: 10px;
  margin: 0 -15px;
  color: #333;

  h3 {
    text-transform: none;
    margin: 10px 0;
  }

  .total {
    float: right;
    color: $brand-red;
    font-family: $font-family-sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    @media (max-width: 767px) {
      float: none;
    }
  }

  img {
    float: left;
    margin-right: 20px;
    width: 25%;
  }

}

.find-holiday-box {
  margin: 0 -15px;
  padding: 30px;
  background: #2db1f0;
  color: #fff;

  p {
    font-size: 24px;
    line-height: 1;
    font-weight: bold;
  }
}

.call-us-box {
  margin: 0 -15px;
  padding: 30px;
  background-color: #f0f0f0;
  background-image: url("/assets/images/icons/phone.png");
  background-repeat: no-repeat;
  background-position: bottom 30px left 30px;

  p {
    text-align: right;
    font-size: 18px;
    margin: 0;

    span {
      color: #ed3d32;
      font-weight: bold;
    }
  }
}

.home-page-feature-link {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;

  &.active,
  &:hover {
    background: $brand-red;
    color: #ffffff;
  }
}
.home-page-feature {
  display: none;
  &.active {
    display: block;
  }
}

#latest-news {

  > div {
    border-right: 1px solid #cccccc;

    &:last-child {
      border-right: none;
    }
  }

  .latest-news-item {
    margin: 20px 0;

    h4 {
      margin-bottom: 0;

      a {
        color: inherit;
        &:hover {
          color: $brand-red;
        }
      }
    }
    h6 {
      margin-top: 0;
      color: $brand-red;
    }
  }

}

.glyphicon {
  color: $brand-red;
}
.red .glyphicon {
  color: #ffffff;
}


.availability-calendar {

  .ui-datepicker td span, .ui-datepicker td a {
    text-align: center;
  }

  .ui-datepicker.ui-datepicker-multi {
    width: auto !important;
  }

}


#property-details {

  header {
    padding: 20px 0;

    .back-arrow {
      @include text-hide;
      display: block;
      float: left;
      height: 70px;
      width: 70px;
      margin-right: 20px;
      border-right: 1px solid #ffffff;
      background-image: url('/assets/images/icons/arrow-white-left.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: 70px 70px;
      transition: background-position 0.4s;

      &:hover {
        background-position: -20px center;
      }
    }

    h1 {
      text-transform: none;
      font-size: 36px;
      margin: 0 0 10px;
    }

    .property-feefo-stars {
      color: inherit;
      border-right: 1px solid;
      padding-right: 10px;
      margin-right: 10px;
      img {
        margin-top: -3px;
      }
      &:focus, &:hover {
        text-decoration: none;
      }
    }

    #property-ref-container {
      padding-right: 135px;
      padding-top: 50px;

      .property-ref,
      .property-distance {
        line-height: 1;
        font-size: 11px;
        text-transform: uppercase;
      }
      .property-distance {
        font-weight: 700;
      }

      #static-map-image {
        position: absolute;
        top: -20px;
        right: 0;
        height: 110px;
      }

      @media (max-width: 767px) {
        padding: 0 15px;
      }
    }

  }

  .share,
  .add-to-favourites {
    line-height: 1;
    font-size: 12px;
    text-transform: uppercase;
  }
  .property-distance,
  .share,
  .add-to-favourites {
    font-weight: 700;
  }

  .share,
  .add-to-favourites {
    color: #333333;
    display: inline-block;
    margin-top: 20px;

    img {
      padding-right: 10px;
    }
  }

  #property-slideshow {
    margin: 0 -15px;

    #property-slideshow-cycle > div {
      width: 100%;
    }

  }

  .property-thumbs {
    position: relative;
    padding: 20px 60px;
    margin: 0 -15px 40px;
    background: $brand-gray-light;

    @media (max-width: 767px) {
      margin-bottom: 0;
    }

    .cycle-slide {
      cursor: pointer;
      margin: 0 10px 0 0;
      border: 1px solid #ffffff;
    }
    .cycle-slide-active {
      border-color: $brand-red;
    }

    .cycle-next,
    .cycle-prev {
      @include text-hide;
      display: block;
      background-size: 20px 30px;
      background-repeat: no-repeat;
      background-position: center center;
      height: 30px;
      width: 20px;
      top: 50%;
      margin-top: -15px;
      position: absolute;
    }
    .cycle-prev {
      left: 20px;
      background-image: url("/assets/images/icons/arrow-red-left.png");
      margin-right: 20px;
    }
    .cycle-next {
      right: 20px;
      background-image: url("/assets/images/icons/arrow-red-right.png");
      margin-left: 20px;
    }
  }

  .property-features {
    margin: 20px 0;
    padding: 20px 0;
    list-style: none;
    border-top: 1px solid #b7dbff;
    border-bottom: 1px solid #b7dbff;

    li {
      padding: 10px 30px 10px 0;
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px solid $brand-gray;

      &:last-child {
        border-bottom: none;
      }

      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: right center;

      &.bedrooms {
        background-image: url('/assets/images/icons/bedrooms.png');
      }
      &.bathrooms {
        background-image: url('/assets/images/icons/bathrooms.png');
      }
      &.pool {
        background-image: url('/assets/images/icons/pool.png');
      }
      &.connections {
        background-image: url('/assets/images/icons/connections.png');
      }
      &.restaurants {
        background-image: url('/assets/images/icons/restaurants.png');
      }
      &.sports {
        background-image: url('/assets/images/icons/sports.png');
      }
      &.outdoors {
        background-image: url('/assets/images/icons/outdoors.png');
      }
      &.comfort {
        padding-right: 0;

        .label {
          font-size: 100%;
          padding: 3px 9px;
        }
      }
      &.usp {
        background-image: url('/assets/images/icons/usp.png');
      }
      &.distance {
        background-image: url('/assets/images/icons/distance.png');
      }
    }
  }

  .nav-pills {
    margin-left: -15px;
    margin-bottom: 20px;
  }

  h4.offers {
    color: #ff7e00;
    text-transform: uppercase;
    padding-left: 25px;
    background-image: url('/assets/images/icons/offer.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  #opinion {

    h3, b, strong {
      display: block;
      text-transform: uppercase;
      &:before {
        content: '';
        display: block;
        width: 40px;
        height: 5px;
        margin-bottom: 20px;
        margin-top: 20px;
        background: $brand-red;
      }
    }

    h3:first-child,
    p:first-child b,
    p:first-child strong {
      margin-top: 0;
      &:before {
        display: none;
      }
    }
  }

  #location-map {
    height: 400px;
    margin-bottom: 20px;
  }

  #pricing-box {
    transition: all .4s ease-in-out;
    margin: 0 -15px;
    padding: 15px;
    background: $brand-blue;
    color: #ffffff;

    h3 {
      text-transform: none;
    }

    input, select {
      text-align: left;
      font-weight: bold;
      font-size: 16px;
    }

    p {
      text-align: right;
      font-size: 18px;
      line-height: 1;
      margin: 15px 0 0;

      span {
        font-weight: bold;
        font-size: 24px;
      }
      small {
        font-size: 11px;
      }
    }
  }

  .tab-pane {
    margin-bottom: 40px;
  }

  #book-box {
    margin: 0 -15px;
    padding: 15px;
    background-color: $brand-gray-light;
    background-image: url('/assets/images/icons/phone.png');
    background-repeat: no-repeat;
    background-position: bottom 15px left 15px;

    p {
      text-align: right;
      font-size: 18px;
      margin: 15px 0 0;

      span {
        color: $brand-red;
        font-weight: bold;
      }
    }
  }

  #offers-box {
    margin: 0 -15px;
    padding: 15px;
    background-color: $brand-gray;
  }

}

#property-details.resort {
  .glance {
    border-top: 1px solid #b7dbff;
    padding-top: 20px;
  }
  .property-features {
    border-top: 0;
    padding-top: 0;
  }
  #pricing-box {
    background: $brand-green;
  }
  .property-listing .property-features {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    text-align: right;
    border: none;
  }
}


#pricing h5 {
  margin-top: 0;
  text-transform: uppercase;
}

.square-bck,
.square-fwd {
  display: inline-block;
  height: 25px;
  width: 25px;
  background-size: 25px 25px;
  margin-left: 5px;
}
.square-bck {
  background-image: url('/assets/images/icons/arrow-red-square-left.png');
}
.square-fwd {
  background-image: url('/assets/images/icons/arrow-red-square-right.png');
}

.calendar-month {
  width: 100%;

  th,td {
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
  }
  th {
    color: #999999;
  }

  td {
    border: 1px solid #ffffff;
    color: #ffffff;

    &.unavailable {
      background: #ffcccc;
      color: #ffffff;
    }
    &.onHold {
      background: #ffad70;
      color: #565638;
    }
    &.available {
      background: #dcecca;
      color: #565638;
    }
    &.onHoldStDay {
      background: #ffad70;
      background: linear-gradient(135deg, #ffad70 0%,#ffad70 49%, #ffd0b0 50%,#ffd0b0 100%);
      color: #565638;
      cursor: pointer;
    }
    &.startDay {
      background: #c3d9ad;
      background: linear-gradient(135deg, #c3d9ad 0%,#c3d9ad 49%,#dcecca 50%,#dcecca 100%);
      color: #565638;
      cursor: pointer;
    }
    &.selected {
      background: #7bd0ff !important;
      color: #565638 !important;
    }
  }
}

#availability-month-1,
#availability-month-2 {
  margin-bottom: 20px;
}

.calendar-key {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

  > span {
    display: inline-block;
    padding-left: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-left: 1px solid #999999;

    &:first-child {
      padding-left: 0;
      margin-left: 0;
      border-left: 0;
    }

    > span {
      display: inline-block;
      height: 17px;
      width: 17px;
      float: left;
      margin-right: 5px;

      &.unavailable {
        background: #ffcccc;
        color: #ffffff;
      }
      &.hold {
        background: #ffad70;
        color: #565638;
      }
      &.selected {
        background: #7bd0ff;
        color: #565638;
      }
      &.available {
        background: #dcecca;
        color: #565638;
      }
      &.start {
        background: #c3d9ad;
        background: linear-gradient(135deg, #c3d9ad 0%, #c3d9ad 49%, #dcecca 50%, #dcecca 100%);
        color: #565638;
      }
    }
  }

}

.social-icons {
  span {
    font-family: $font-family-gotham;
    color: #999999;
    text-transform: uppercase;
    padding-right: 10px;
  }
}

#map-col {
  background: #cccccc;
}

#map-canvas {
  height: 820px;
  margin: 0 -15px;
}

#enquiry-form-strip {
  display: none;
}

.comparison-heading {
  margin-bottom: 0;
  color: $brand-green;
}

.property-listing {
  display: block;
  border-top: 2px solid #cccccc;
  margin-bottom: 15px;
  padding-top: 15px;
  color: #333333;

  &:hover {
    color: inherit;
    h3, h4 {
      color: $brand-red;
    }
  }

  .property-image {
    position: relative;

    img {
      width: 100%;
    }

    .property-images-number {
      background-color: rgba(0, 0, 0, 0.7);
      background-image: url('/assets/images/icons/camera.png');
      background-repeat: no-repeat;
      background-size: 25px 25px;
      background-position: 10px 5px;
      position: absolute;
      top: 0;
      left: 0;
      color: $brand-red;
      font-weight: 800;
      padding: 10px 10px 10px 45px;
    }

    @media (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  h3 {
    text-align: left;
    text-transform: none;
    margin: 0 0 10px;
  }

  h4 {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
  }

  .property-reviews,
  .property-ref,
  .property-distance,
  .property-price,
  .property-taxes,
  .special-offers {
    line-height: 1;
    font-size: 11px;
  }
  .property-reviews img {
    vertical-align: baseline;
  }
  .property-ref {
    text-transform: uppercase;
  }
  .property-distance {
    font-weight: 700;
    text-transform: uppercase;
  }
  .property-price {
    font-weight: 800;
    color: $brand-red;
    font-size: 22px;
  }
  .property-taxes {
    font-weight: 500;
    color: #999999;
  }

  .special-offers {
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    color: #ff7e00;
    padding: 7px 5px 7px 25px;
    border-right: 1px solid $brand-gray;
    margin-right: 5px;
    background-image: url('/assets/images/icons/offer.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: left center;
  }

  .property-features {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;
    text-align: right;

    li {
      padding: 5px 0;
      text-transform: uppercase;
      font-size: 11px;
      border-bottom: 1px solid $brand-gray;

      background-size: 20px 20px;
      background-repeat: no-repeat;
      background-position: left center;

      &.pool {
        background-image: url('/assets/images/icons/pool.png');
      }
      &.bedrooms {
        background-image: url('/assets/images/icons/bedrooms.png');
      }
      &.villas {
        background-image: url('/assets/images/icons/villas.png');
      }
    }

    @media (max-width: 767px) {
      margin-top: 10px;
    }
  }

}

.pagination-container {
  text-align: center;
  background: $brand-gray-light;
  padding: 40px;
  margin: 0 -15px;

  .pagination>li>a,
  .pagination>li>span {
    background-color: inherit;
    color: #333333;
    border: none;
    margin-left: 0;
    font-weight: bold;
  }

  .pagination>li>a:hover,
  .pagination>li>a:focus,
  .pagination>li>span:hover,
  .pagination>li>span:focus,
  .pagination>.active>a,
  .pagination>.active>a:hover,
  .pagination>.active>a:focus,
  .pagination>.active>span,
  .pagination>.active>span:hover,
  .pagination>.active>span:focus {
    background-color: $brand-red;
    color: #ffffff;
  }

  .pagination>.disabled>span,
  .pagination>.disabled>span:hover,
  .pagination>.disabled>span:focus,
  .pagination>.disabled>a,
  .pagination>.disabled>a:hover,
  .pagination>.disabled>a:focus {
    background-color: inherit;
    color: inherit;
  }
}

#feefologohere {
  @media (max-width: 991px) {
    text-align: center;
  }
}

#footer-logos {
  text-align: right;

  img {
    margin-left: 20px;

    @media (max-width: 991px) {
      margin: 20px auto;
      display: block;
    }
  }
}

#footer {

  a {
    color: #ffffff;
  }

  p {
    font-size: 12px;
  }

  #footer-nav {
    margin-bottom: 40px;

    a {
      text-transform: uppercase;
      padding-left: 15px;
      display: inline-block;
    }
  }
}

#favourites {
  position: fixed;
  z-index: 101;
  bottom: 0;
  width: 100%;
  min-height: 61px;
  max-height: 50%;
  overflow-y: scroll;

  &.empty {
    display: none;
  }

  &.closed {
    #favourites-properties {
      display: none;
    }
  }

  #favourites-header {
    position: fixed;
    width: 100%;
    z-index: 1;
    transition: bottom 0.4s, top 0.4s;
  }

  #favourites-properties {
    margin-top: 61px;
  }

  #favourites-number {
    color: #000000;
  }

  #toggle-favourites {
    cursor: pointer;
    margin-right: 30px;
  }
}

.favourite-box {
  color: inherit;
  border-right: 1px solid #e7e7e7;
  margin: 20px 0;

  .favourite-property-image {
    img {
      width: 100%;
    }
  }

  .favourite-property-info {
    padding-right: 20px;

    > .row {
      line-height: 1;
      margin-top: 20px;
    }

    .favourite-remove {
      font-weight: bold;
      line-height: 1;
    }

    h3 a, h4 a {
      color: #000000;

      &:hover {
        color: $brand-red;
      }
    }

    h3 {
      text-align: left;
      text-transform: none;
      margin: 0 0 10px;
    }

    h4 {
      font-weight: 400;
      font-size: 11px;
      text-transform: uppercase;
      margin: 0;
    }

    .favourite-property-sleeps {
      text-transform: uppercase;
      line-height: 1;
      font-size: 11px;
      background-image: url('/assets/images/icons/bedrooms.png');
      background-position: left center;
      background-size: 20px;
      background-repeat: no-repeat;
      padding-left: 24px;
    }
    .favourite-property-price {
      line-height: 1;
      font-weight: 800;
      color: $brand-red;
      font-size: 18px;
    }
  }

}

// Affix related styles needed

.affix-top {
  position: relative;
}
.affix {
  position: fixed;
  top: 63px;

  @media (max-width: 767px) {
    position: static;
  }
}
.affix-bottom {
  position: relative;
}

.affix-container.affix-container-col-4 {
  &.affix {
    @media (min-width: 768px) {
      width: 220px;
    }
    @media (min-width: 992px) {
      width: 293px;
    }
    @media (min-width: 1200px) {
      width: 360px;
    }
    @media (min-width: 1400px) {
      width: 427px;
    }
  }
}




.ui-datepicker {

  .available a,
  .available span {
    background: #dcecca;
    color: #565638;
  }

  .unavailable a,
  .unavailable span {
    background: #ffcccc;
    color: #ffffff;
  }
  .onHold a,
  .onHold span {
    background: #ffad70;
    color: #565638;
  }
  .available a,
  .available span {
    background: #dcecca;
    color: #565638;
  }
  .onHoldStDay a,
  .onHoldStDay span {
    background: #ffad70;
    background: linear-gradient(135deg, #ffad70 0%,#ffad70 49%, #ffd0b0 50%,#ffd0b0 100%);
    color: #565638;
    cursor: pointer;
  }
  .startDay a,
  .startDay span {
    background: #c3d9ad;
    background: linear-gradient(135deg, #c3d9ad 0%,#c3d9ad 49%,#dcecca 50%,#dcecca 100%);
    color: #565638;
    cursor: pointer;
  }
  .ui-state-active {
    background: #7bd0ff !important;
    color: #565638 !important;
  }

  .ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: .5;
    filter: Alpha(Opacity=50);
  }
}



@import "slick";
@import "select2";
