/*
Item Name : Mega Menu Reloaded
Item URI : http://codecanyon.net/item/mega-menu-reloaded/1593152
Author URI : http://codecanyon.net/user/Pixelworkshop/
Version : 2.0
*/

/*

TABLE OF CONTENTS

00 PAGE STYLING (REMOVABLE)
01 MENU BAR
   1. Mega Menu Bar
   2. Mega Menu Trigger Button
   3. Mega Menu Carousel Buttons
02 DROP DOWN CONTAINER
03 DROP DOWN SCROLLBARS
04 COLUMNS GRID
05 CONTENT & TYPOGRAPHY
   1. Basic Typography
   2. Lists
   3. Paragraphs with Icons
   4. Paragraphs with borders
   5. Tables
   6. Inline Images
06 DROP DOWN TABS
07 CONTACT FORM
08 MOBILE DEVICES

*/



/*  _______________________________________

	00 PAGE STYLING (REMOVABLE)
    _______________________________________  */



/*
The following markup is used only for demonstration purposes,
this whole section can be removed.
*/
body {font-family:Arial,Helvetica,sans-serif;}
p{font-size:14px; line-height:21px; margin-bottom:18px}
.dummy_content{width:960px;margin:32px auto;}
.dummy_content_margin {width:960px; margin:75px auto;*padding-top:60px;}
.dummy_content p,.dummy_content_margin p,.dummy_content li,.dummy_content_margin li{color:#666;font-size:12px;line-height:18px}
.dummy_content .pusher,.dummy_content_margin .pusher{width:100%;height:50px}
.dummy_content a,.dummy_content_margin a{color:#999;text-decoration:none}
.dummy_content h1,.dummy_content_margin h1,.dummy_content h3,.dummy_content_margin h3{color:#222}
@media only screen and (max-width: 980px) {
	.dummy_content, .dummy_content_margin {width:100%;}
	.dummy_content_margin {margin:32px auto;}
}



/*  _______________________________________

    01 MENU BAR
    _______________________________________  */




/* 1. Mega Menu Bar */

.megamenu_container {
	width:960px;
	height:44px;
	margin:0 auto;
	position:relative;
	z-index:2;
	background-image:url("../img/bg.png");
	background-color: #3d3d3d;
	border:solid 1px #434343;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	-webkit-box-shadow: 0 2px 3px #cccccc;
	-moz-box-shadow: 0 2px 3px #cccccc;
	-o-box-shadow: 0 2px 3px #cccccc;
	box-shadow: 0 2px 3px #cccccc;
}
.megamenu_fixed {
	width:960px;
	height:44px;
	position:fixed;
	top:0;
	left:50%;
	margin:0 auto 0 -480px;
	z-index:2;
	background-image:url("../img/bg.png");
	background-color: #3d3d3d;
	border:solid 1px #434343;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
	-webkit-box-shadow: 0 2px 3px #cccccc;
	-moz-box-shadow: 0 2px 3px #cccccc;
	-o-box-shadow: 0 2px 3px #cccccc;
	box-shadow: 0 2px 3px #cccccc;
}
.megamenu {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	list-style:none;
	padding:0;
	margin:0;
}
	.megamenu > li {
		display:inline;
		border:none;
		margin:0;
		border-right:solid 1px #454545;
		border-left:solid 1px #242424;
		background-color:transparent;
		padding: 14px 0 15px 10px;
		-webkit-transition: background-color 0.4s ease-out;
		-moz-transition: background-color 0.4s ease-out;
		-o-transition: background-color 0.4s ease-out;
		-ms-transition: background-color 0.4s ease-out;
		transition: background-color 0.4s ease-out;
	}
	.megamenu_fixed .megamenu > li {
		padding: 15px 0 15px 10px;
	}
		/*.megamenu > li:hover {*/
			/*background-color:#202020;*/
		/*}*/
		/*.megamenu > li.active {*/
			/*background-color:#131313;*/
		/*}*/
		/*.megamenu li.noactive {*/
			/*background:none;*/
		/*}*/
		.megamenu_container .megamenu > li:first-child {
			-webkit-border-radius:3px 0 0 3px;
			-moz-border-radius:3px 0 0 3px;
			border-radius:3px 0 0 3px;
			border-left:none;
		}
		.megamenu_fixed .megamenu > li:first-child,
		.megamenu_carousel .megamenu > li:first-child {
			-webkit-border-radius:0 0 0 3px;
			-moz-border-radius:0 0 0 3px;
			border-radius:0 0 0 3px;
			border-left:none;
		}
		.megamenu > li:last-child {
			-webkit-box-shadow: 1px 0 0 #242424;
			-moz-box-shadow: 1px 0 0 #242424;
			-o-box-shadow: 1px 0 0 #242424;
			box-shadow: 1px 0 0 #242424;
		}
		.megamenu > li a {
			text-decoration:none;
			color:#bbbbbb;
		}
			.megamenu > li a:hover {
				color:#efefef;
			}
		.megamenu > li span a {
			color:#ffffff;
		}
		.megamenu > li a:focus {
			outline:none;
		}
		.megamenu > li .drop,
		.megamenu > li .nodrop {
			font-size:12px;
			line-height:44px;
			text-transform:uppercase;
			outline:0;
			text-decoration:none;
			color:#ffffff;
			text-shadow:1px 1px 1px #000000;
		}
		.megamenu > li .drop {
			background-image:url("../img/down.png");
			background-repeat: no-repeat;
			background-position:right 18px;
			padding:14px 20px 20px 0;
		}
		.megamenu > li .nodrop {
			padding:14px 5px 20px 0;
		}
		.megamenu > li .drop:hover,
		.megamenu > li .nodrop:hover {
			cursor:pointer;
		}
		.megamenu li.megamenu_button {
			display: none;
			cursor: pointer;
			-webkit-transition: none;
			-moz-transition: none;
			-o-transition: none;
			-ms-transition: none;
			transition: none;
			background-color:transparent;
		}
		.megamenu li.megamenu_button_active {
			background-color:#000000;
			-webkit-border-radius:3px 3px 0 0;
			-moz-border-radius:3px 3px 0 0;
			border-radius:3px 3px 0 0;
		}
		.megamenu li.megamenu_button span {
			background-image:url("../img/down.png");
			background-repeat: no-repeat;
			background-position:98% 17px;
			padding:12px 20px 12px 0;
			color:#ffffff;
			text-shadow:1px 1px 1px #000000;
		}
		.megamenu li.megamenu_button_active span {
			background-image:url("../img/up.png");
			background-position:98% 16px;
		}

/* 2. Mega Menu Trigger Button */

#megamenu_trigger {
	position: fixed;
	z-index:2;
	margin:0 auto;
	left:50%;
	margin-left:510px;
	top: 0;
	width:35px;
	height:46px;
	background:url("../img/button_up.png") right no-repeat #121212;
	display: block;
    -webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}
#megamenu_trigger.active {
	background:url("../img/button_down.png") right no-repeat #121212;
}

/* 3. Mega Menu Carousel Buttons */

.megamenu_carousel_frame {
	width:100%;
	overflow:hidden;
	height:45px;
}
.megamenu_carousel_prev,
.megamenu_carousel_next {
	display:block;
	padding:0;
	margin:0;
	width:15px;
	height:30px;
	position:absolute;
	top:50%;
	margin-top:-15px;
}
.megamenu_carousel_prev:hover,
.megamenu_carousel_next:hover {
	cursor:pointer;
}
	.megamenu_carousel_prev {
		background:url("../img/previous.png") no-repeat;
		left:-15px;
	}
	.megamenu_carousel_next {
		background:url("../img/next.png") no-repeat;
		right:-15px;
	}




/*  _______________________________________

    02 DROP DOWN CONTAINER
    _______________________________________  */




.megamenu > li .megamenu_fullwidth {
	position:absolute;
	top:49px;
	left:-9999em;
	z-index:9998;
	float:left;
	width: 960px;
	margin:0 0 40px -1px;
	padding:18px 0 18px 0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	border:solid 1px #434343;
	border-top:none;
	background:#131313;
}
.megamenu_push .megamenu > li .megamenu_fullwidth {
	position:relative;
	top:5px;
}
.megamenu > li:hover .megamenu_fullwidth {
	left:0;
}




/*  _______________________________________

    03 DROP DOWN SCROLLBARS
    _______________________________________  */




.megamenu > li .megamenu_scrollbars {
	width:980px;
	height:540px;
}
.megamenu_scrollbars .megamenu_scroller_container {
	position : relative;
	width : 100%;
	height : 100%;
	overflow : hidden;
}
.megamenu_scrollbars .megamenu_scroller_container .megamenu_scroll_area {
	position : absolute;
	overflow : scroll;
	overflow-x : hidden;
	top : 0;
	right : 0;
	bottom : 0;
	left : 0;
}
.megamenu_scrollbars .megamenu_scroller_container .pane {
	background: #F4F4F4;
	-webkit-box-shadow: 0 1px 1px #000000;
	-moz-box-shadow: 0 1px 1px #000000;
	-o-box-shadow: 0 1px 1px #000000;
	box-shadow: 0 1px 1px #000000;
	position : absolute;
	width: 1px;
	right: 8px;
	top : 0;
	bottom : 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.megamenu_scrollbars .megamenu_scroller_container .pane .slider {
	background: #CCCCCC;
	width:5px;
	position: relative;
	margin-left:-2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.megamenu_scrollbars .megamenu_scroller_container .pane .slider:hover {
	cursor:pointer;
}
.megamenu_scrollbars .megamenu_scroller_container:hover .pane,
.megamenu_scrollbars .pane.active {
	visibility: visible;
}




/*  _______________________________________

    04 COLUMNS GRID
    _______________________________________  */




.megamenu .col_1,
.megamenu .col_2,
.megamenu .col_3,
.megamenu .col_4,
.megamenu .col_5,
.megamenu .col_6,
.megamenu .col_7,
.megamenu .col_8,
.megamenu .col_9,
.megamenu .col_10,
.megamenu .col_11,
.megamenu .col_12 {
	float: left;
	position: relative;
	margin-left: 15px;
	margin-right: 15px;
}
.megamenu .col_1 {width:50px;}
.megamenu .col_2 {width:130px;}
.megamenu .col_3 {width:210px;}
.megamenu .col_4 {width:290px;}
.megamenu .col_5 {width:370px;}
.megamenu .col_6 {width:450px;}
.megamenu .col_7 {width:530px;}
.megamenu .col_8 {width:610px;}
.megamenu .col_9 {width:690px;}
.megamenu .col_10 {width:770px;}
.megamenu .col_11 {width:850px;}
.megamenu .col_12 {width:930px;}

.megamenu .col_nomargins {
	margin:0;
}
.megamenu .col_nomargin_left {
	margin-left:0;
}
.megamenu .col_nomargin_right {
	margin-right:0;
}

.megamenu .clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 18px;
}




/*  _______________________________________

    05 CONTENT & TYPOGRAPHY
    _______________________________________  */




/* 1. Basic Typography */

.megamenu .black_bg {
	background-color:#000000;
	padding:4px 6px 4px 6px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.megamenu p,
.megamenu h1,
.megamenu h2,
.megamenu h3,
.megamenu h4,
.megamenu h5,
.megamenu h6 {
	padding:0;
	margin:0;
	font-weight: normal;
	color:#ffffff;
	text-shadow:1px 1px 1px #000000;
	margin-bottom:18px;
}
.megamenu p {
	font-size:12px;
}
.megamenu h1 {
	font-size:32px;
}
.megamenu h2 {
	font-size:28px;
}
.megamenu h3 {
	font-size:24px;
}
.megamenu h4 {
	font-size:18px;
}
.megamenu h5 {
	font-size:16px;
}
.megamenu h6 {
	font-size:14px;
	text-transform:uppercase;
}

/* 2. Lists */

.megamenu > li ul,
.megamenu > li ol {
	padding:0 0 0 18px;
	margin:0 0 18px 0;
}
.megamenu > li ul {
	list-style:disc;
}
.megamenu > li ol {
	list-style:decimal;
}
.megamenu > li ul li,
.megamenu > li ol li {
	font-size:12px;
	line-height:22px;
	position:relative;
	color:#dddddd;
}

/* 3. Paragraphs with Icons */

.megamenu .calendar,
.megamenu .note,
.megamenu .help,
.megamenu .delete,
.megamenu .favorite,
.megamenu .lock,
.megamenu .archive,
.megamenu .briefcase,
.megamenu .search,
.megamenu .user {
	padding-left:36px;
	margin-bottom:18px;
}
.megamenu .calendar {background:url("../img/icons/calendar.png") no-repeat 0 4px}
.megamenu .note {background:url("../img/icons/note.png") no-repeat 0 5px}
.megamenu .archive {background:url("../img/icons/archive.png") no-repeat 0 4px}
.megamenu .search {background:url("../img/icons/search.png") no-repeat 0 4px}
.megamenu .help {background:url("../img/icons/help.png") no-repeat 0 4px}
.megamenu .delete {background:url("../img/icons/delete.png") no-repeat 0 5px}
.megamenu .favorite {background:url("../img/icons/favorite.png") no-repeat 0 4px}
.megamenu .lock {background:url("../img/icons/lock.png") no-repeat 0 4px}
.megamenu .briefcase {background:url("../img/icons/briefcase.png") no-repeat 0 5px}
.megamenu .user {background:url("../img/icons/user.png") no-repeat 0 4px}

/* 4. Paragraphs with borders */

.megamenu .dark,
.megamenu .brown,
.megamenu .yellow,
.megamenu .red,
.megamenu .blue,
.megamenu .green {
	padding-left:15px;
	color:#cccccc;
	margin-bottom:18px;
}
.megamenu .dark {border-left:#3B3B3B solid 7px}
.megamenu .brown {border-left:#8D8767 solid 7px}
.megamenu .yellow {border-left:#DBA742 solid 7px}
.megamenu .red {border-left:#C05D48 solid 7px}
.megamenu .blue {border-left:#52878B solid 7px}
.megamenu .green {border-left:#B0BD85 solid 7px}
.megamenu .table_light,
.megamenu .table_dark {
	width:100%;
	padding:0;
	margin:6px 0 18px 0;
	font-size:12px;
}

/* 5. Tables */

.megamenu table {
	border-spacing: 0;
	border-collapse: collapse;
}
.megamenu .table_light th,
.megamenu .table_dark th {
	text-align:left;
	padding:12px 9px 12px 9px;
	font-weight:bold;
	font-size:12px;
}
.megamenu .table_light {
	border:1px solid #cbcbcb;
	border-bottom:none;
}
	.megamenu .table_light th {
		color:#3A3A3A;
		border-bottom:1px solid #cbcbcb;
		background:#F5F5F5;
	}
	.megamenu .table_light td {
		border-bottom:1px solid #cbcbcb;
		background:#fff;
		padding:12px 9px 12px 9px;
		color:#888;
	}

.megamenu .table_dark {
	border:1px solid #000;
	border-bottom:none;
}
	.megamenu .table_dark th {
		color:#FFF;
		border-bottom:1px solid #000;
		background:#0D0D0D;
	}
	.megamenu .table_dark td {
		border-bottom:1px solid #000;
		background:#0F0F0F;
		padding:12px 9px 12px 9px;
		color:#DDD;
	}

/* 6. Inline Images */

.megamenu img {
	border:none;
}
.megamenu .inline_img {
	border: 1px solid #000000;
	-webkit-box-shadow: 0 1px 1px #000000;
	-moz-box-shadow: 0 1px 1px #000000;
	-o-box-shadow: 0 1px 1px #000000;
	box-shadow: 0 1px 1px #000000;
	padding:4px;
	background:#F4F4F4;
	margin-bottom:18px;
}
.megamenu .megamenu_fullwidth .img_list {
	list-style:none;
	margin:0;
	padding:0;
}
.megamenu .megamenu_fullwidth .img_list li {
	float:left;
	position:relative;
	margin-right:15px;
	margin-left:15px;
	margin-bottom:15px;
}
.megamenu iframe {
	border:none;
}



/*  _______________________________________

    06 DROP DOWN TABS
    _______________________________________  */




.megamenu_tabs .megamenu_tabs_panels {
	margin: 0 0 15px 0;
}
.megamenu_tabs ul {
	list-style: none;
}
.megamenu_tabs_hide {
	position:relative;
	left:0;
	top:0;
	display:none;
}
.megamenu_tabs .megamenu_tabs_nav {
	width:100%;
	float:left;
	height:30px;
	margin:18px 0;
}
.megamenu_tabs .megamenu_tabs_nav li {
	display: inline;
	float:left;
	width:auto;
	white-space:nowrap;
	margin-right:20px;
}
/*!*.megamenu_tabs .megamenu_tabs_nav li a {*!*/
	/*!*border: 1px solid #000000;*!*/
	/*!*color: #ffffff;*!*/
	/*!*position:relative;*!*/
	/*!*float:left;*!*/
	/*!*background-color: #222222;*!*/
	/*!*-webkit-border-radius: 3px;*!*/
	/*!*-moz-border-radius: 3px;*!*/
	/*!*border-radius: 3px;*!*/
	/*!*text-shadow: 0 1px 1px #000000;*!*/
	/*!*-webkit-box-shadow: 0 1px 1px #000000;*!*/
	/*!*-moz-box-shadow: 0 1px 1px #000000;*!*/
	/*!*-o-box-shadow: 0 1px 1px #000000;*!*/
	/*!*box-shadow: 0 1px 1px #000000;*!*/
	/*!*font: bold 11px Sans-Serif;*!*/
	/*!*text-transform:none;*!*/
	/*!*padding: 7px 12px;*!*/
	/*!*margin:0;*!*/
	/*!*background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2));*!*/
	/*!*background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.2));*!*/
	/*!*background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.2));*!*/
	/*!*background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.2));*!*/
	/*!*background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));*!*/
	/*!*-webkit-transition: background-color 0.3s;*!*/
	/*!*-moz-transition: background-color 0.3s;*!*/
	/*!*-o-transition: background-color 0.3s;*!*/
	/*!*-ms-transition: background-color 0.3s;*!*/
	/*!*transition: background-color 0.3s;*!*/
/*!*}*!*/
/*.megamenu_tabs li a.current,*/
/*.megamenu_tabs li a.current:hover {*/
	/*background-color: #1A1A1A;*/
	/*top:1px;*/
	/*-webkit-box-shadow: 0 0 1px #000000;*/
	/*-moz-box-shadow: 0 0 1px #000000;*/
	/*-o-box-shadow: 0 0 1px #000000;*/
	/*box-shadow: 0 0 1px #000000;*/
/*}*/
/*.megamenu_tabs .megamenu_tabs_nav li a:hover,*/
/*.megamenu_tabs .megamenu_tabs_nav li a:focus {*/
	/*background-color: #1A1A1A;*/
/*}*/



/*  _______________________________________

    07 CONTACT FORM
    _______________________________________  */




.megamenu .contact_form {
	display: block;
	margin-bottom:10px;
}
.megamenu .contact_form label {
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	text-shadow:1px 1px 1px #000000;
	font-weight:bold;
	line-height:18px;
	color:#ffffff;
}
.megamenu .form_element {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	width:280px;
	padding:6px;
	margin:12px 0 18px 0;
	color: #000000;
	background-color:#E8E8E8;
	border:1px solid #000000;
	-webkit-box-shadow: 0 1px 1px #000000;
	-moz-box-shadow: 0 1px 1px #000000;
	-o-box-shadow: 0 1px 1px #000000;
	box-shadow: 0 1px 1px #000000;
    -webkit-border-radius:3px;
	-moz-border-radius:3px;
    border-radius:3px;
	-webkit-transition: background-color 0.3s ease-out;
	-moz-transition: background-color 0.3s ease-out;
	-o-transition: background-color 0.3s ease-out;
	-ms-transition: background-color 0.3s ease-out;
	transition: background-color 0.3s ease-out;
}
	.megamenu .form_element:hover{
		background-color:#F4F4F4;
		-webkit-box-shadow: 0 3px 3px #000000;
		-moz-box-shadow: 0 3px 3px #000000;
		-o-box-shadow: 0 3px 3px #000000;
		box-shadow: 0 3px 3px #000000;
	}
	.megamenu .form_element:focus {
		background-color:#FFFFFF;
		outline:none;
	}
.megamenu .contact_form textarea {
	height:120px;
	resize:none;
}
.megamenu .contact_form .required {
	color:#C00;
}
.megamenu .contact_form .special {
	display:none;
}
.megamenu .contact_form .error,
.megamenu .contact_form .sent {
	font-size:11px;
	padding:3px 6px 3px 6px;
	text-shadow:1px 1px 1px #ffffff;
	border:1px solid #000000;
	-webkit-box-shadow: 0 1px 1px #000000;
	-moz-box-shadow: 0 1px 1px #000000;
	-o-box-shadow: 0 1px 1px #000000;
	box-shadow: 0 1px 1px #000000;
    -webkit-border-radius:3px;
	-moz-border-radius:3px;
    border-radius:3px;
}
	.megamenu .contact_form .error {
		background:#f7cac4;
		color:#992213;
	}
	.megamenu .contact_form .sent {
		background:#d8f6bc;
		color:#2f530b;
	}
.megamenu .contact_form .button {
	border: 1px solid #000000;
	color: #ffffff;
	background-color: #222222;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	text-shadow: 0 1px 1px #000000;
	-webkit-box-shadow: 0 1px 1px #000000;
	-moz-box-shadow: 0 1px 1px #000000;
	-o-box-shadow: 0 1px 1px #000000;
	box-shadow: 0 1px 1px #000000;
	font: bold 11px Sans-Serif;
	padding: 7px 12px;
	margin:9px 12px 0 0;
	white-space: nowrap;
	vertical-align: middle;
	color: #ffffff;
	cursor: pointer;
	background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(transparent, rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	transition: background-color 0.3s;
}
.megamenu .contact_form .button:hover,
.megamenu .contact_form .button:focus {
	color: #ffffff;
	background-color: #1A1A1A;
}
.megamenu .contact_form .button:active {
	position:relative;
	top:1px;
	-webkit-box-shadow: 0 0 1px #000000;
	-moz-box-shadow: 0 0 1px #000000;
	-o-box-shadow: 0 0 1px #000000;
	box-shadow: 0 0 1px #000000;
}



/*  _______________________________________

    08 MOBILE DEVICES
    _______________________________________  */




@media only screen and (max-width: 980px) {

	.megamenu h1 {
		font-size: 2.3em;
		margin-bottom: 0.6em;
	}
	.megamenu h2 {
		font-size: 2em;
		margin-bottom: 0.6em;
	}
	.megamenu h3 {
		font-size: 1.7em;
		margin-bottom: 0.6em;
	}
	.megamenu h4 {
		font-size: 1.4em;
		margin-bottom: 1em;
	}
	.megamenu h5 {
		font-size: 1.2em;
		margin-bottom: 1em;
	}
	.megamenu h6 {
		font-size: 1em;
		margin-bottom: 1em;
	}
	.megamenu p,
	.megamenu ul,
	.megamenu td,
	.megamenu th,
	.megamenu label {
		font-size: 0.9em;
		line-height: 1.8em;
		margin-bottom: 1.5em;
	}

	/* Mega Menu Containers */

	.megamenu_container,
	.megamenu_fixed {
		width:100%;
		height:auto;
		margin:0;
		position:relative;
		left:auto;
		top:auto;
		background: #2C2C2C;
		background: -moz-linear-gradient(top, #3D3D3D 0%, #2C2C2C 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3D3D3D), color-stop(100%,#2C2C2C)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #3D3D3D 0%,#2C2C2C 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #3D3D3D 0%,#2C2C2C 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #3D3D3D 0%,#2C2C2C 100%); /* IE10+ */
		background: linear-gradient(top, #3D3D3D 0%,#2C2C2C 100%); /* W3C */
		-webkit-border-radius:3px;
		-moz-border-radius:3px;
		border-radius:3px;
	}
		.megamenu > li {
			border:none;
		}
			.megamenu > li:last-child {
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				-o-box-shadow: none;
				box-shadow: none;
			}
			.megamenu > li span {
				white-space:nowrap;
			}
	.megamenu_carousel_frame {
		height:auto;
		margin:0;
		overflow: visible;
		position:relative;
	}
	.megamenu_carousel_prev,
	.megamenu_carousel_next {
		display:none;
	}

	/* Drop Downs */

	.megamenu > li .megamenu_fullwidth {
		position:absolute;
		top:auto;
		width: 100%;
		margin:0 0 0 -1px;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}
	.megamenu_push .megamenu > li .megamenu_fullwidth {
		position:absolute;
		top:auto;
	}
	.megamenu .dropdownspacer {
		display:none;
	}

	/* Columns Resizing -
	   Switching to percentages */

	.megamenu .col_1,
	.megamenu .col_2,
	.megamenu .col_3,
	.megamenu .col_4,
	.megamenu .col_5,
	.megamenu .col_6,
	.megamenu .col_7,
	.megamenu .col_8,
	.megamenu .col_9,
	.megamenu .col_10,
	.megamenu .col_11,
	.megamenu .col_12 {
		margin-left: 0.83333333333333%;
		margin-right: 0.83333333333333%;
	}
	.megamenu .img_margin_right {
		margin-right: 0.83333333333333%;
	}
	.megamenu .col_1 {width: 6.6666666666667%;}
	.megamenu .col_2 {width: 15%;}
	.megamenu .col_3 {width: 23.333333333333%;}
	.megamenu .col_4 {width: 31.666666666667%;}
	.megamenu .col_5 {width: 40%;}
	.megamenu .col_6 {width: 48.333333333333%;}
	.megamenu .col_7 {width: 56.666666666667%;}
	.megamenu .col_8 {width: 65%;}
	.megamenu .col_9 {width: 73.333333333333%;}
	.megamenu .col_10 {width: 81.666666666667%;}
	.megamenu .col_11 {width: 90%;}
	.megamenu .col_12 {width: 98.333333333333%;}

	.megamenu .col_1 > .col_1,
	.megamenu .col_2 > .col_1, .megamenu .col_2 > .col_2,
	.megamenu .col_3 > .col_1, .megamenu .col_3 > .col_2, .megamenu .col_3 > .col_3,
	.megamenu .col_4 > .col_1, .megamenu .col_4 > .col_2, .megamenu .col_4 > .col_3, .megamenu .col_4 > .col_4,
	.megamenu .col_5 > .col_1, .megamenu .col_5 > .col_2, .megamenu .col_5 > .col_3, .megamenu .col_5 > .col_4, .megamenu .col_5 > .col_5,
	.megamenu .col_6 > .col_1, .megamenu .col_6 > .col_2, .megamenu .col_6 > .col_3, .megamenu .col_6 > .col_4, .megamenu .col_6 > .col_5, .megamenu .col_6 > .col_6,
	.megamenu .col_7 > .col_1, .megamenu .col_7 > .col_2, .megamenu .col_7 > .col_3, .megamenu .col_7 > .col_4, .megamenu .col_7 > .col_5, .megamenu .col_7 > .col_6, .megamenu .col_7 > .col_7,
	.megamenu .col_8 > .col_1, .megamenu .col_8 > .col_2, .megamenu .col_8 > .col_3, .megamenu .col_8 > .col_4, .megamenu .col_8 > .col_5, .megamenu .col_8 > .col_6, .megamenu .col_8 > .col_7, .megamenu .col_8 > .col_8,
	.megamenu .col_9 > .col_1, .megamenu .col_9 > .col_2, .megamenu .col_9 > .col_3, .megamenu .col_9 > .col_4, .megamenu .col_9 > .col_5, .megamenu .col_9 > .col_6, .megamenu .col_9 > .col_7,
	.megamenu .col_9 > .col_8, .megamenu .col_9 > .col_9,
	.megamenu .col_10 > .col_1, .megamenu .col_10 > .col_2, .megamenu .col_10 > .col_3, .megamenu .col_10 > .col_4, .megamenu .col_10 > .col_5, .megamenu .col_10 > .col_6, .megamenu .col_10 > .col_7,
	.megamenu .col_10 > .col_8, .megamenu .col_10 > .col_9, .megamenu .col_10 > .col_10,
	.megamenu .col_11 > .col_1, .megamenu .col_11 > .col_2, .megamenu .col_11 > .col_3, .megamenu .col_11 > .col_4, .megamenu .col_11 > .col_5, .megamenu .col_11 > .col_6, .megamenu .col_11 > .col_7,
	.megamenu .col_11 > .col_8, .megamenu .col_11 > .col_9, .megamenu .col_11 > .col_10, .megamenu .col_11 > .col_11,
	.megamenu .col_12 > .col_1, .megamenu .col_12 > .col_2, .megamenu .col_12 > .col_3, .megamenu .col_12 > .col_4, .megamenu .col_12 > .col_5, .megamenu .col_12 > .col_6, .megamenu .col_12 > .col_7,
	.megamenu .col_12 > .col_8, .megamenu .col_12 > .col_9, .megamenu .col_12 > .col_10, .megamenu .col_12 > .col_11, .megamenu .col_12 > .col_12
	{
		width:auto;
	}

	/* Drop Downs Content */

	.megamenu img {
		max-width: 98%;
		height: auto;
		width: auto\9; /* ie8 */
	}
	.megamenu embed,
	.megamenu object,
	.megamenu iframe {
		width: 100%;
	}
	.megamenu > li .megamenu_scrollbars {
		width:100%;
		height:auto;
	}
	.megamenu_scrollbars .megamenu_scroller_container {
		position : relative;
		width : 100%;
		height : 100%;
		overflow : visible;
	}
	.megamenu_scrollbars .megamenu_scroller_container .megamenu_scroll_area {
		position : relative;
		overflow-y:hidden;
	}
	.megamenu .form_element {
		width:96%;
	}


}

@media only screen and (max-width: 767px) {

	.megamenu > li,
	.megamenu_fixed .megamenu > li {
		float:none;
		width:auto;
		border:none;
		display: block;
		padding: 0;
	}
	.megamenu > li > span,
	.megamenu_fixed .megamenu > li > span {
		display: block;
		margin-left: 2%;
	}
		.megamenu > li .drop,
		.megamenu > li .nodrop {
			background-position:98% 18px;
			line-height:12px;
			padding-top:14px;
			padding-bottom: 14px;
		}
	.megamenu .col_1,
	.megamenu .col_2,
	.megamenu .col_3,
	.megamenu .col_4,
	.megamenu .col_5,
	.megamenu .col_6,
	.megamenu .col_7,
	.megamenu .col_8,
	.megamenu .col_9,
	.megamenu .col_10,
	.megamenu .col_11,
	.megamenu .col_12 {
		margin-left: 2%;
		margin-right: 2%;
		width: 96%;
		float: left;
		display: block;
	}
	.megamenu .col_nomargin_left,
	.megamenu .col_nomargin_right {
			margin-left: 0;
			margin-right: 0;
	}
	.megamenu img {
		max-width: 96%;
		height: auto;
		width: auto\9;
	}
	.megamenu_tabs_hide {
		display:block;
	}
	.megamenu_tabs .megamenu_tabs_nav {
		display:none;
	}

}

.megamenu {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.megamenu > li {
	display: inline;
	border: none;
	margin: 0;

	border-right: solid 1px #14325c;
	border-left: solid 1px #14325c;
	background-color: transparent;
	padding: 0px 0 0px 10px;
	-webkit-transition: background-color 0.4s ease-out;
	-moz-transition: background-color 0.4s ease-out;
	-o-transition: background-color 0.4s ease-out;
	-ms-transition: background-color 0.4s ease-out;
	transition: background-color 0.4s ease-out;
}

.megamenu_fixed .megamenu > li {
	padding: 15px 0 15px 10px;
}

.megamenu > li:hover {
	background-color: #14325C;
}