.main {
	width: 959px;
	margin: 0 auto;
	text-align: left;
}

#footer { height:36px;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6 {float:left;}
.container {width:100%; overflow:hidden;}
.container1 {width:100%;}
/* ============================= page1 ===========================*/
#page1 .col-1 {width:281px;}
#page1 .col-2 {width:277px;}
#page1 .col-3 {width:440px;}
#page1 .col-4 {width:436px;}
#page1 .col-5 {width:152px;}
#page1 .col-6 {width:343px;}
#page1 .divider {background:url(images/divider-bg.gif) 614px 0px repeat-y;}
#page1 .divider1 {background:url(images/divider-bg.gif) 298px 0px repeat-y;}
#page1 .divider2 {background:url(images/divider-bg.gif) 456px 0px repeat-y;}
#page1 .divider3 {background:url(images/divider-bg.gif) 169px 0px repeat-y;}
#page1 .divider4 {background:url(images/divider-bg.gif) 359px 0px repeat-y;}
#page1 .divider5 {background:url(images/divider-bg.gif) 549px 0px repeat-y;}
/* ============================= page2 ===========================*/
#page2 .col-1 {width:550px;}
#page2 .col-2 {width:343px;}
#page2 .col-3 {width:153px;}
#page2 .col-4 {width:282px;}
#page2 .col-5 {width:275px;}
#page2 .divider {background:url(images/divider-bg.gif) 550px 0px repeat-y;}
#page2 .divider1 {background:url(images/divider-bg.gif) 299px 0px repeat-y;}
#page2 .divider2 {background:url(images/divider-bg.gif) 614px 0px repeat-y;}
/* ============================= page3 ===========================*/
#page3 .col-1 {width:281px;}
#page3 .col-2 {width:277px;}
#page3 .col-3 {width:440px;}
#page3 .col-4 {width:436px;}
#page3 .col-5 {width:437px;}
#page3 .divider {background:url(images/divider-bg.gif) 614px 0px repeat-y;}
#page3 .divider1 {background:url(images/divider-bg.gif) 298px 0px repeat-y;}
#page3 .divider2 {background:url(images/divider-bg.gif) 456px 0px repeat-y;}
/* ============================= page4 ===========================*/
#page4 .col-1 {width:550px;}
#page4 .col-2 {width:343px;}
#page4 .col-3 {width:153px;}
#page4 .col-4 {width:439px;}
#page4 .col-5 {width:420px;}
#page4 .divider {background:url(images/divider-bg.gif) 550px 0px repeat-y;}
#page4 .divider1 {background:url(images/divider-bg.gif) 456px 0px repeat-y;}
/* ============================= page5 ===========================*/
#page5 .col-1 {width:281px;}
#page5 .col-2 {width:277px;}
#page5 .col-3 {width:534px;}
#page5 .col-4 {width:153px;}
#page5 .divider {background:url(images/divider-bg.gif) 614px 0px repeat-y;}
#page5 .divider1 {background:url(images/divider-bg.gif) 298px 0px repeat-y;}
#page5 .divider2 {background:url(images/divider-bg.gif) 740px 0px repeat-y;}
#page5 .divider3 {background:url(images/divider-bg.gif) 549px 0px repeat-y;}
/* ============================= page7 ===========================*/
#page7 .col-1 {width:550px;}
#page7 .col-2 {width:343px;}
#page7 .col-3 {width:165px;}
#page7 .col-4 {width:439px;}
#page7 .col-5 {width:437px;}
#page7 .divider {background:url(images/divider-bg.gif) 550px 0px repeat-y;}
#page7 .divider1 {background:url(images/divider-bg.gif) 456px 0px repeat-y;}
