/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
	top: 10px;
	z-index: 1;
	
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}
.slider-wrapper{position:relative;z-index:1}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.title-slider{font-family: Trebuchet MS;
    font-size: 45px;
    font-weight: bold;
    line-height: 45px;}
	
.title-slider span{font-size: 45px;
    font-weight: bold;
        position: relative;
    top: -25px;}
.button-slider{}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

/* Caption styles */
.nivo-caption {
	-moz-box-sizing: border-box;
    bottom: 0;
    color: #ffffff;
    display: none;
    left: 50px;
    opacity: 0.8;
    overflow: hidden;
    position: absolute;
    top: 60px;
    width: 40%;
    z-index: 8;
}
.nivo-caption p {
	padding:5px;
	margin:0;
}
.nivo-caption a {
	background-image: linear-gradient(bottom, rgb(194,194,189) 18%, rgb(226,225,217) 59%);
	background-image: -o-linear-gradient(bottom, rgb(194,194,189) 18%, rgb(226,225,217) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(194,194,189) 18%, rgb(226,225,217) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(194,194,189) 18%, rgb(226,225,217) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(194,194,189) 18%, rgb(226,225,217) 59%);
	background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.18, rgb(194,194,189)),
	color-stop(0.59, rgb(226,225,217)));
    border-radius: 7px 7px 7px 7px;
    color: #f1ae0e;
    font-size: 12px;
    font-weight: bold;
    padding: 7px 13px;
    text-decoration: none;
    text-transform: uppercase;
	margin-left:5px;
	-webkit-box-shadow: 1px 1px 1px rgba(50, 50, 50, 0.84);
	-moz-box-shadow:    1px 1px 1px rgba(50, 50, 50, 0.84);
	box-shadow:         1px 1px 1px rgba(50, 50, 50, 0.84);
}
.nivo-caption a:hover{

background-image: linear-gradient(bottom, rgb(244,187,41) 18%, rgb(247,226,69) 59%);
background-image: -o-linear-gradient(bottom, rgb(244,187,41) 18%, rgb(247,226,69) 59%);
background-image: -moz-linear-gradient(bottom, rgb(244,187,41) 18%, rgb(247,226,69) 59%);
background-image: -webkit-linear-gradient(bottom, rgb(244,187,41) 18%, rgb(247,226,69) 59%);
background-image: -ms-linear-gradient(bottom, rgb(244,187,41) 18%, rgb(247,226,69) 59%);
background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.18, rgb(244,187,41)),
	color-stop(0.59, rgb(247,226,69)));
color:#fff}
.nivo-html-caption {
    display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	padding: 15px 0;
    position: absolute;
    right: 0;
	margin-top: -30px;
	z-index:2;
	margin-right:10px;
}
.nivo-controlNav a {
   background: url("images/arrow1.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    float: left;
    height: 14px;
    text-indent: -999em;
    width: 14px;
	margin-left: 4px;
}
.nivo-controlNav a.active {
	font-weight:bold;
	background: url("images/arrow2.png") no-repeat scroll 0 0 transparent;
}