/* CSS Document */
@font-face {
font-family:Santana;
src:url('fonts/Santana-BlackCondensed.ttf')

}
* {
	margin:0; padding:0;
	font-size:100%;
}

body{
	background:#1b1b1b;
	text-align:center;
}

img {vertical-align:top;}
a img { border:0;}

ul { list-style:none;}

.left { float:left;}
.right {float:right;}
.clear  { clear:both;}


html, input, textarea
	{
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:0.8125em;
		line-height:1.5384em;
		color:#787873;
	}

input, select { vertical-align:middle; font-weight:normal;}

a {color:#edad00; outline:none;}
a:hover{text-decoration:none;}
p {padding-top:20px;}

/* ============================= main layout ====================== */

li { background:url(images/marker.gif) left bottom repeat-x; line-height:1.909em; font-size:0.8461em;}
li a {color:#787873; text-decoration:none}
li a:hover {color:#a8a8a3;}

.imgindent {margin:0 20px 0 0; float:left;}
.imgindent1 {margin:0 0px 0 20px; float:right;}

.extra-tail {background:url(images/extra-tail.gif) left top repeat-x #666666;}
.extra {background:url(images/extra-bg.jpg) top center no-repeat;}

h2 {font-size:1.69em; line-height:1.2em; color:#1b1c1f; text-transform:uppercase; padding:11px 0 10px 0;}
h2 strong {color:#f1ae0e;}

.title {color:#1b1b1b; background:url(images/ul-marker.gif) right 4px no-repeat; padding:0px 22px 0 0; display:inline-block; margin:16px 0 10px 0;}
/* ============================= header ====================== */
.row {height:56px;}

.up {float:left; margin:23px 0 0 25px;}
.twitter {float:right; margin:13px 24px 0 0;}

.box {background:url(images/box-tail-bg.gif) left top repeat-x #f3f4ee; position:relative;}
.box .indent {padding:34px 23px 0px 24px;}
.box .bottom-tail {background:url(images/box-bottom-tail.gif) left bottom repeat-x;}
.box .top-right {background:url(images/box-corner-top-right.gif) top right no-repeat;}
.box .top-left {background:url(images/box-corner-top-left.gif) top left no-repeat; }
.box .bottom-left {background:url(images/box-corner-bottom-left.gif) bottom left no-repeat;}
.box .bottom-right {background:url(images/box-corner-bottom-right.gif) bottom right no-repeat; width:100%;}

.header {height:517px;}

.logo {float:left;}




.menu1 {background:url(images/menu-tail-bg.gif) left top repeat-x; margin-top:6px;}
.menu-left {background:url(images/menu-left-bg.gif) left top no-repeat;}
.menu-right {background:url(images/menu-right-bg.gif) right top no-repeat; width:100%; overflow:hidden; height:66px;}

.menu li {float:left; background:url(images/menu-li-bg.gif) right 0px no-repeat; line-height:1.2em; font-size:1.23em;padding: 0 0 0 1.4px;}
.menu li a {color: #FFFFFF;
    display: block;
    font-family: Santana;
    font-size: 16px;
    font-weight: normal;
    margin-right: 2px;
    padding: 21px 30px 25px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;}
.menu li strong {display:block;}

.menu .first a {padding:0 30px 0 0px;}
.menu .first strong {padding:21px 0 25px 32px;}

.menu .last {background:none;}
.menu .last a {padding:0 0px 0 0px; margin-right:0px;}
.menu .last strong {padding:21px 34px 25px 20px;}

.menu li a:hover, .menu .active  {background:url(images/menu-tail-bg-active.gif) left top repeat-x; color:#fff; }
.menu.sf-js-enabled .last:last-child {
    border-radius: 0 8px 8px 0;
}
.menu li:last-children a:hover, .menu .active  {background:url(images/menu-tail-bg-active.gif) left top repeat-x; color:#fff;border-radius: 0 8px 8px 0;}
.menu .first a:hover strong, .menu .first .active strong {background:url(images/menu-left-bg-active.gif) left top no-repeat;}
.menu .last a:hover strong, .menu .last .active strong {background:url(images/menu-right-bg-active.gif) right top no-repeat;}



/* ============================= header1 ====================== */
.row {height:56px;}

.up {float:left; margin:23px 0 0 25px;}
.twitter {float:right; margin:13px 24px 0 0;}

.box {background:url(images/box-tail-bg.gif) left top repeat-x #f3f4ee; position:relative;}
.box .indent {padding:34px 23px 0px 24px;}
.box .bottom-tail {background:url(images/box-bottom-tail.gif) left bottom repeat-x;}
.box .top-right {background:url(images/box-corner-top-right.gif) top right no-repeat;}
.box .top-left {background:url(images/box-corner-top-left.gif) top left no-repeat; }
.box .bottom-left {background:url(images/box-corner-bottom-left.gif) bottom left no-repeat;}
.box .bottom-right {background:url(images/box-corner-bottom-right.gif) bottom right no-repeat; width:100%;}

.header1 {height:170px;}

.logo {float:left;}




.menu1 {background:url(images/menu-tail-bg.gif) left top repeat-x; margin-top:6px;}
.menu-left {background:url(images/menu-left-bg.gif) left top no-repeat;}
.menu-right {background:url(images/menu-right-bg.gif) right top no-repeat; width:100%; overflow:hidden; height:66px;}

.menu li {float:left; background:url(images/menu-li-bg.gif) right 0px no-repeat; line-height:1.2em; font-size:1.23em;padding: 0 0 0 1.4px;}
.menu li a {
	color: #FFFFFF;
	display: block;
	font-family: Santana;
	font-size: 17px;
	font-weight: normal;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	padding-top: 21px;
	padding-right: 30px;
	padding-bottom: 25px;
	padding-left: 30px;
}
.menu li strong {display:block;}

.menu .first a {padding:0 30px 0 0px;}
.menu .first strong {padding:21px 0 25px 32px;}

.menu .last {background:none;}
.menu .last a {padding:0 0px 0 0px; margin-right:0px;}
.menu .last strong {padding:21px 34px 25px 20px;}

.menu li a:hover, .menu .active  {background:url(images/menu-tail-bg-active.gif) left top repeat-x; color:#fff; }
.menu.sf-js-enabled .last:last-child {
    border-radius: 0 8px 8px 0;
}
.menu li:last-children a:hover, .menu .active  {background:url(images/menu-tail-bg-active.gif) left top repeat-x; color:#fff;border-radius: 0 8px 8px 0;}
.menu .first a:hover strong, .menu .first .active strong {background:url(images/menu-left-bg-active.gif) left top no-repeat;}
.menu .last a:hover strong, .menu .last .active strong {background:url(images/menu-right-bg-active.gif) right top no-repeat;}






/******************************** submenu **************************************/
.menu ul {
	background: none repeat scroll 0 0 #323234;
    border-radius: 9px 9px 9px 9px;
    margin-left: -2px;
    margin-top: 5px;
    position: absolute;
    text-align: center;
    width: 172px;
	
}
.menu li ul li:first-children{} 
.menu li li:last-children{} 
.menu li li {width:	172px; padding:0;background:none; position:relative;text-align: center;border-bottom:1px solid #fff;}
.menu li li a {
    color: #FFFFFF;
    display: block;
    font-family: 'Lora',serif;
    font-size: 16px;
    line-height: 2em;
    overflow: hidden;
    position: relative;
    text-align: center;
	padding: 3px;
	margin-right:0px}
.menu.sf-js-enabled li:last-child {
    border: medium none;
}
.menu li li a > span {
	background:url(../images/menu-right.png) right bottom no-repeat;
	padding-right:10px;
	display:block;
}
.menu li li a span span {
	background:url(../images/menu-tail.png) 0 bottom repeat-x;
	padding:	5px 0px 5px;
	display:block;
	position:relative;
	overflow:hidden;
	cursor:pointer;
	font-family: Santana;
}


.menu li:hover ul, .menu li.sfHover ul {

	z-index:		999;

}
ul.menu li:hover li ul, ul.menu li.sfHover li ul {
	top:			-999em;
}

.menu li li:first-child a:hover, .menu li li.sfHover > a {
    background-position: left top;
    border-radius: 8px 8px 0 0;
    color: #FFFFFF;
}
.menu li li:last-child a:hover, .menu li li.sfHover > a {
    background-position: left top;
    border-radius: 0px 0px 8px 8px;
    color: #FFFFFF;
}
.menu li .bl a:hover, .menu li li.sfHover > a {
    background-position: left top;
    border-radius:8px!important;
    color: #FFFFFF;
}
.menu li li a:hover > span, 
.menu li li.sfHover > a > span {background-position: right top;}
.menu li li a:hover span span,
.menu li li.sfHover > a span span {background-position: 0 top;}

/******************************** submenu 2 **************************************/
.menu ul ul {
	text-align:center;
	width:127px;
}
.col-title .bl {
	font-weight:normal;
}
.menu li li li {width:123px;}
.menu li li li a {
	display:block; 
}
.menu li li li a:hover {}
ul.menu li li:hover ul, ul.menu li li.sfHover ul {
	left:			123px;
	top:			-12px;
	z-index:		9999;
}
ul.menu li li:hover li ul, ul.menu li li.sfHover li ul {
	top:			-999em;
}


.slogan {background:url(images/header-bg.jpg) left top no-repeat; height:292px; margin-top:9px; color:#60605a; padding:65px 0 0 58px;}
.slogan strong {font-size:5em; line-height:1.2em; display:block; margin-top:-25px;}
.slogan em {font-size:1.5384em; line-height:1.2em; display:block; font-style:normal; text-transform:uppercase; margin-top:-14px; letter-spacing:22px;}

.header .link {background:url(images/link-header-left-bg.gif) left top no-repeat; display:inline-block; line-height:1em; text-decoration:none; margin:16px 0 0 0px; color:#60605a; font-weight:bold; cursor:pointer; font-size:0.92em; text-transform:uppercase;}
.header .link span {background:url(images/link-header-right-bg.gif) right top no-repeat; display:inline-block; padding:0 8px 0 8px;}
.header .link span span  {background:url(images/link-header-tail-bg.gif) top repeat-x; padding:12px 6px 11px 6px;}

.header .link:hover {background:url(images/link-header-left-bg-hover.gif) left top no-repeat; }
.header .link:hover span {background:url(images/link-header-right-bg-hover.gif) right top no-repeat;}
.header .link:hover span span  {background:url(images/link-header-tail-bg-hover.gif) top repeat-x;}

.header .link1 {background:url(images/link1-header-left-bg.gif) left top no-repeat; display:inline-block; line-height:1em; text-decoration:none; margin:10px 0 0 0px; color:#fff; font-weight:bold; cursor:pointer; font-size:0.92em; text-transform:uppercase;}
.header .link1 span {background:url(images/link1-header-right-bg.gif) right top no-repeat; display:inline-block; padding:0 8px 0 8px;}
.header .link1 span span  {background:url(images/link1-header-tail-bg.gif) top repeat-x; padding:12px 6px 11px 6px;}

.header .link1:hover {background:url(images/link1-header-left-bg-hover.gif) left top no-repeat; }
.header .link1:hover span {background:url(images/link1-header-right-bg-hover.gif) right top no-repeat;}
.header .link1:hover span span  {background:url(images/link1-header-tail-bg-hover.gif) top repeat-x;}

.header .link {margin-top:24px; float:left}
.header .link1 {margin:24px 0 0 4px;}
/* ============================= content ====================== */
.col-pad {padding-right:36px;}
.col-pad1 {padding-right:18px;}
.list-pad {padding-right:30px;}

.col-indent {padding:0 0 32px 0;}
.col-indent1 {
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 25px;
	padding-left: 0;
}
.indent-pad {padding-top:10px;}
.indent-pad1 {padding-top:30px;}

.h-pad {padding-bottom:1px;}
.h-pad1 {padding-top:0px; margin-top:-7px;}
.h-pad2 {padding-bottom:15px;}
.h-pad3 {padding-top:0px;}

.cont-pad {padding-top:8px;}

.pad {
}
.pad1 {padding-top:20px;}
.pad2 {
	padding-top: 30px;
}

.link {background:url(images/link-left-bg.gif) left top no-repeat; display:inline-block; line-height:1em; text-decoration:none; margin:16px 0 0 0px; color:#60605a; font-weight:bold; cursor:pointer; font-size:0.92em; text-transform:uppercase;}
.link span {background:url(images/link-right-bg.gif) right top no-repeat; display:inline-block; padding:0 8px 0 8px;}
.link span span  {background:url(images/link-tail-bg.gif) top repeat-x; padding:12px 6px 11px 6px;}

.link:hover {background:url(images/link-left-bg-hover.gif) left top no-repeat; }
.link:hover span {background:url(images/link-right-bg-hover.gif) right top no-repeat;}
.link:hover span span  {background:url(images/link-tail-bg-hover.gif) top repeat-x;}

.link-margin {margin-top:25px;}

.phone {display:inline-block; width:90px;}

.line {line-height:1.9090em !important;}
.line a {color:#000;}
.line .phone {width:60px;}

.link1 {background:url(images/link1-left-bg.gif) left top no-repeat; display:inline-block; line-height:1em; text-decoration:none; margin:10px 0 0 0px; color:#fff; font-weight:bold; cursor:pointer; font-size:0.92em; text-transform:uppercase;}
.link1 span {background:url(images/link1-right-bg.gif) right top no-repeat; display:inline-block; padding:0 8px 0 8px;}
.link1 span span  {background:url(images/link1-tail-bg.gif) top repeat-x; padding:12px 6px 11px 6px;}

.link1:hover {background:url(images/link1-left-bg-hover.gif) left top no-repeat; }
.link1:hover span {background:url(images/link1-right-bg-hover.gif) right top no-repeat;}
.link1:hover span span  {background:url(images/link1-tail-bg-hover.gif) top repeat-x;}

.border {border-bottom:1px solid #e0dfd8;}
.border1 {background:url(images/marker.gif) left bottom repeat-x; padding-bottom:12px; margin-bottom:10px;}

.box1 {font-size:0.84em; line-height:1.4545em;}
.box1 .link2 {font-size:1em;}

.text {font-size:0.84em; line-height:1.45em; display:inline-block;}
.text1 {color:#000000;}

.name {color:#1b1b1b;}
.name1 {color:#edad00;}

.title1 {font-size:1.18em; color:#edad00;}
.title2 {color:#edad00;}

.last {background:none;}

.link2 {color:#000; font-weight:bold; font-size:0.8461em;}

.search {height:73px; padding-top:29px; position:relative}
.call {font-size:1.769em; line-height:1.2em; color:#fff; text-transform:uppercase; background:url(images/call-us-bg.gif) left top no-repeat; float: left; width:683px; padding:7px 0 9px 24px; margin-left:-4px; position:relative;}
.call strong {color:#000;}

.find {background:url(images/find-us-bg.gif) left top no-repeat; float: right;  width:184px; font-size:1.38em; line-height:1.2em; text-transform:uppercase; color:#fff; padding:12px 0 12px 15px; margin-right:-2px; position:relative; <a href="Contact_us.html" title="contact Us today" target="_blank">www.gymspaceexeter.co.uk</a>}
/* ============================= footer ====================== */
#footer {background:url(images/footer-bg.gif) left top repeat-x #1b1b1b; margin-top:-134px; padding-top:148px; color:#777777; text-transform:uppercase; font-size:0.92em;}
#footer .main {text-align:center;}
#footer a {color:#777777; text-decoration:none;}
#footer a:hover {text-decoration:underline;}

/* ============================= forms ============================= */
#SearchForm {float:right; padding:0px 0px 0 0;}
#SearchForm label {background:url(images/input-bg.gif) right top no-repeat; height:36px; display:inline-block; vertical-align:top; margin-right:0px;}
#SearchForm .input {width:193px; height:19px; border:none; padding:8px 10px 5px 10px; vertical-align:top; color:#79938c; background:none; line-height:1.2em; font-size:1em;}

#ContactForm label {height:42px; display:block; background:url(images/input-bg1.gif) left bottom no-repeat;}
.alignright {text-align:right;}
.column2 {
	float: left;
	width: 216px;
}
.column1 {float:left; width:220px;}
.textarea {background:url(images/textarea-bg.gif) left bottom no-repeat;}
#ContactForm .input {width:190px; border:none; background:none; padding:0px 0 2px 5px; font-size:1em; line-height:1.2em;}
#ContactForm textarea {width:210px; height:147px; border:none; background:none; padding:5px 0 0 5px; overflow:auto; font-size:1em;}

