/*Using Adminmain.css*/

.form-group{width: 100%}
.form-mainitem {width:60%;float:left;margin-bottom:15px;}
.form-lineitem {width:6%;margin-left:10px;float:left}
.form-type {width:20%;margin-left:10px;float:left}
.linegroup {}
#gobutton {margin-top: -9px;margin-left:10px}
#autocomplete {width:400px}

 .longerfield {width:400px}
.shorterfield {width:80px;}
* {
 box-sizing: border-box;
}

html, body {
 margin: 0;
 padding: 0;
 width: 100%;
 width: 100%;
}

#wrapper {
 display: block;
 /*position: fixed;*/
 width: 100%;
 height: 100%;
}

#leftWrapper {
 display: inline-block;
 position: absolute;
 left: 0;
 margin: 0;
 padding: 0;
 width: 15em;
 height: 100%;

 background-color: #1e1e1e;
}

#listView {
 display: block;
 position: relative;
}

#listView li {
 display: block;
 list-style: none;
}

#listView li a {
 display: block;
 padding: 20px;
 padding-bottom: 10px;

 color: #fff;
 font-family: sans-serif;
 font-size: 1.1em;
 text-decoration: none;

 border-top: 1px solid rgba(0,0,0,0.5);
 border-bottom:1px solid rgba(255,255,255,0.04);

 -webkit-transition: all .20s ease;
 -moz-transition: all .20s ease;
 -o-transition: all .20s ease;
 transition: all .20s ease;
}

#rightWrapper {
 display: inline-block;
 position: absolute;
 left: 15em;
 margin: 0;
 padding: 0px 40px;
 width: calc(100% - 15em);
 height: 100%;
 overflow-y: scroll;

 background-color: #efefef;

 -webkit-transition: all .20s ease;
 -moz-transition: all .20s ease;
 -o-transition: all .20s ease;
 transition: all .20s ease;
}

#header {
 display: block;
 position: fixed;
 left: 15em;
 width: 100%;
 z-index: 999;

 background-color: #efefef;
 border-bottom:2px solid rgba(0,0,0,0.2);

 -webkit-transition: all .20s ease;
 -moz-transition: all .20s ease;
 -o-transition: all .20s ease;
 transition: all .20s ease;
}

#fullPage {
 display: inline-block;
 margin-left: 20px;
 padding: 10px;

 color: #1e1e1e;
 font-family: sans-serif;
 font-size: 2em;
 font-weight: bold;
 text-decoration: none;

 -webkit-transform: rotate(90deg);
 -moz-transform: rotate(90deg);
 -o-transform: rotate(90deg);
 transform: rotate(90deg);
}

#contentWrapper {
 display: block;
 position: relative;
 margin-top: 10px;
 width: 100%;
 height: 100%;
}

article {
 margin-bottom: 20px;

 color: #1e1e1e;
 font-family: sans-serif;
 font-size: 1em;
 text-decoration: none;

 background-color: #fff;
 border: 1px solid rgba(0,0,0,0.1);
 border-bottom: 2px solid rgba(0,0,0,0.1);
}

section {
 padding: 10px;
}

.article-header {
 padding: 10px;

 color: #fff;
 font-family: sans-serif;
 font-size: 1.5em;
 text-align: left;

 background-color: #2DCC70;
}

#showCase, #showCase section, #showCase section a {
 display: inline-block;
 padding: 10px;
 vertical-align: top;

 color: #1e1e1e;
 font-family: sans-serif;
 font-size: 1em;
 text-align: center;
 text-decoration: none;

 -webkit-transition: all .20s ease;
 -moz-transition: all .20s ease;
 -o-transition: all .20s ease;
 transition: all .20s ease;
}

#showCase {
 padding: 0;
}

#showCase section a {
 box-shadow: inset 0px -2px #2DCC70;
}

#showCase section a:hover {
 color: #fff;
 box-shadow: inset 0px -50px #2DCC70;
}

#social {
 text-align: center;
}

#social a {
 display: inline-block;
 width: 60px;
 height: 60px;
 box-shadow: inset 0px 0px;
}

#social a:hover {
 box-shadow: inset 0px 0px;
}

#social a img {
 max-width: 100%;
}


.full-page {
 left: 0 !important;
 width: 100% !important;
}

.list-item-active:after {
 content: "";
 position: absolute;
 margin-top: -50px;
 margin-left: 13.45em;

 width: 0;
 height: 0;
 border-top: 33px solid transparent;
 border-bottom: 33px solid transparent;
 border-right: 25px solid #2DCC70;

 -webkit-transition: all .20s ease;
 -moz-transition: all .20s ease;
 -o-transition: all .20s ease;
 transition: all .20s ease;
}
label {
 display: block;
 margin-bottom: 0px;
}
input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
 height:30px;
}

table#quantity input[type="text"] {
 margin-bottom: 0;
}
table#quantity th {
 text-align: center;
}

table#quantity td {
 padding-top: 10px;
 padding-bottom: 3px;
 text-align: center;
}

#stickydiv {
 height: 345px;
 position: fixed;
 background-color: #EFEFEF;


}

table#quantity {
 margin-top:365px;
}

form {
 margin-bottom:0px;
}
/*#listView {*/
 /*height:600px;*/
/*}*/
body {
 background:black;
 overflow: auto;
 overflow-y: hidden;
}
/*#leftWrapper {*/
 /*height:600px;*/
/*}*/
.navbar {
 margin-bottom:0;

}