body { padding-top: 60px; padding-bottom: 40px; }
table form { margin: 0 6px; }
table .btn { margin-right: 4px; }
.subnav ul li {list-style: none;display:inline;}
.subnav ul {margin-left: 0px;}
.subnav {margin-bottom: 30px;}