.slider{
    width:600px;
    margin:20px auto;
    text-align: center;
    padding:20px;
    color:white;

    .slide{
        padding:40px;
        .child-element{
            transition: all .2s ease;
            background: red;
            width:100%;
            height:70px;
        }
        &.slick-center{
            .child-element{
                background: rebeccapurple;
                transform: translate(-70px,0px);
                width: calc(~"100% + 140px");
                max-width: initial;
            }
        }
    }
}